/* font-related variables */

$font-family: (
  primary: 'Nunito'
);

$font-weight: (
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700
);

$font-size: (
  xx-small: 14px,
  x-small: 16px,
  small: 18px,
  medium: 22px,
  large: 24px,
  x-large: 28px,
  xx-large: 45px,
  xxx-large: 72px
);
